<% content_for :styles do %>
  <style>
    .navbar{
      border-bottom: 1px solid white;
      margin-bottom: 0px;
    }
  </style>
<% end %>

<%= content_for :header do %>
<% end %>



<div class="ml-30">
  你好！
</div>